<button class="rvt-button
  {{~#if type}}
    {{~#if secondary}} rvt-button--{{type}}-{{secondary}}{{~/if}}
  {{~/if}}
  
  {{~#if type}} rvt-button--{{type}}{{~/if}}
  {{~#if secondary}} rvt-button--{{secondary}}{{~/if}}
  {{~#if small}} rvt-button--{{small}}{{~/if}}">

  {{~ label ~}}
</button>