<label for="select-input-{{id}}">Select Input:</label>
<select id="select-input-{{id}}" {{#if class}} class="rvt-validation-{{ class }}"{{/if}} {{ modifier }}>
  {{#if options}}
    {{#each options}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  {{else}}
  <option value="option one">Option One</option>
  <option value="option two">Option Two</option>
  <option value="option three">Option Three</option>
  {{/if}}
</select>
{{#if alert}}
  {{render (lookup . 'alertVariant') merge=true }}
{{/if}}