<label for="demo-{{name}}">Textarea</label>
<textarea id="demo-{{name}}" {{~#if class}} class="rvt-validation-{{ class }}"{{~/if}} {{ modifier }}></textarea>
{{#if alert}}
  {{render (lookup . 'alertVariant') merge=true }}
{{/if}}