<legend>{{legend}}</legend>
<ul {{#if list}}class="rvt-plain-list"{{else}}class="rvt-inline-list"{{/if}}>
  {{#if options}}
    {{#each options.option}}
      <li {{#if this.hiddenFields}}class="rvt-radio-wrapper"{{/if}}>
        <input type="radio" name="radio-{{this.id}}" id="radio-{{this.id}}-{{this.text}}" {{this.modifier}} {{this.checked}}>
        {{#if this.hiddenFields}}
          <input type="hidden">
        {{/if}}
        <label for="radio-{{this.id}}-{{this.text}}">{{this.text}}</label>
      </li>
    {{/each}}
  {{else}}
    <li {{#if hiddenFields}}class="rvt-radio-wrapper"{{/if}}>
      <input type="radio" name="radio-{{id}}" id="radio-{{id}}-option-one" {{modifier}} {{checked}}>
      {{#if hiddenFields}}
        <input type="hidden">
      {{/if}}
      <label for="radio-{{id}}-option-one">Option one</label>
    </li>
    <li {{#if hiddenFields}}class="rvt-radio-wrapper"{{/if}}>
        <input type="radio" name="radio-{{id}}" id="radio-{{id}}-option-two" {{modifier}}>
        {{#if hiddenFields}}
          <input type="hidden">
        {{/if}}
        <label for="radio-{{id}}-option-two">Option two</label>
    </li>
  {{/if}}
    
</ul>